# Ignore node_modules
**/node_modules/

# Ignore enviroment variables
backend/.env
frontend/.env

# Ignore editor directories and files
**/.vscode/*
**/!.vscode/extensions.json
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

**/*.tsbuildinfo